.category-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;
  
  .category-item {
    max-width: 31%;
    .background-image {
       position: relative;
       display: flex;
       align-items: center;
      img {
        filter: brightness(0.75);
        z-index:100;
      }
      .category-title{
        position:absolute;
        z-index:100;
        text-align: center;
        color: $white;
        font-family:$font-secondary;
        font-weight: 500;
      }
    }
  }
}
