.container{
    margin:0;
    padding:0.5rem;
    width: 100%;
    .title{
        font-weight: 600;
        font-family: $font-secondary;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

.container-fluid{
    margin:0;
    padding:0;
    width:100vw;
}

